<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Markdown</title>
    <link rel="stylesheet" href="../../static/css/amazeui.min.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/styles/atelier-dune.dark.css">    
</head>
<body>
    <h1 id="markdown">Markdown</h1>
<a href="/tag/cHl0aG9u.html " class="tagClick" target="_blank"><code>python</code></a> 

<hr>

<p>d <br>
上班</p>

<pre><code class="hljs ruby"><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">foo</span>()</span>
    p
ds的撒
</code></pre>

<p>ds</p>

<p>dsa
dsa</p>
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/amazeui.min.js"></script>
    <script type="text/javascript" src="../../static/js/highlight.pack.js"></script>
</body>
</html>