<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>preview:{{ essay_name }}</title>
    <link rel="stylesheet" href="../../static/css/amazeui.min.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/styles/atelier-dune.dark.css">    
</head>
<body>
    {{ content | safe }}
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/amazeui.min.js"></script>
    <script type="text/javascript" src="../../static/js/highlight.pack.js"></script>
</body>
</html>