<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Editor</title>
    <link rel="stylesheet" href="static/css/show-down.css">
    <link rel="stylesheet" href="static/css/amazeui.min.css">
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/css/styles/atelier-dune.dark.css">    
</head>

<body>    
    <div class="am-topbar">
        <h1 class="am-topbar-brand">
            <a href="www.loftysoul.com">LoftySoul's Monor</a>

        </h1>
        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <div class="am-topbar-right">
                <button class="am-topbar-btn am-btn am-radius am-btn-danger" id="isRelease" type="button" title="release essay">未发布</button>
                <button class="am-topbar-btn am-btn am-btn-danger" id="hasUpdate" type="button" title="release essay">无更新</button>
                <button class="am-topbar-btn am-btn am-radius am-btn-success" id="releaseButton" type="button" title="release essay">发布文章</button>
                <div id="tagDropdown" class="am-dropdown" data-am-dropdown>
                    <button id="tagListButton" class="am-topbar-btn am-btn am-btn-success" data-am-dropdown-toggle href="javascript:;">
                       标签列表<span class="am-icon-caret-down"></span>
                    </button>
                    <!-- TODO DETELE -->
                    <ul id="tagList" class="am-dropdown-content">
                        {% for tag in tags %}
                            <li><a href="#">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- TODO:display:none -->
                <button class="am-topbar-btn am-btn am-btn-success" id="newButton" type="button" title="build a new essay">New</button>
                <select style="display:none" class="am-topbar-btn am-btn" id="paneSetting">
                        <option value="previewPane">Preview</option>
                        <option value="outputPane">HTML Output</option>
                        <option value="syntaxPane">Syntax Guide</option>
                </select>
                <select style="display:none" class="am-topbar-btn am-btn" id="convertTextSetting">
                    <option value="delayed">in the background</option>
                    <option value="continuous">every keystroke</option>
                    <option value="manual">manually</option>
                </select>
                <button style="display:none" class="am-topbar-btn am-btn  am-btn-success " id="convertTextButton" type="button" title="Convert text now">
                    Convert text
                </button>
            </div>
        </div>
    </div>
    <div>
        <div id="leftContainer">
            <textarea id="inputPane" class="pane">{{ markdown }}</textarea> 
        </div>
        <div id="rightContainer">
            <textarea id="outputPane" class="pane" cols="80" rows="20" readonly="readonly"></textarea>
            <div id="previewPane" class="pane"><noscript></noscript></div>
            <textarea id="syntaxPane" class="pane" cols="80" rows="20" readonly="readonly">
            </textarea>
        </div>
    </div>

    <div id="tagPage">
        <div id="tagListContainer">
            <h2 class="tagListSpan">标签列表:</h2>
            <ul id="allTagList">

            </ul>
        </div>
        <div id="essayList">
            <input id="searchBox" type="text" value="在这里搜索文章">
            <ul id="allEssayList">
            </ul>
        </div>
    </div>
    
    
    <div id="footer">
        <div id="processingTime" title="Last processing time">0 ms</div>
    </div>

    <div class="am-modal am-modal-confirm" tabindex="-1" id="modal-box">
      <div class="am-modal-dialog">
        <div id="modalTitle" class="am-modal-hd">文章已经发布，链接为:
          <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div  class="am-modal-bd">
          <a id="releaseLink" href="#" target="_blank"></a>
        </div>
        <div class="am-modal-footer">
          <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
      </div>
    </div>
  
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/amazeui.min.js"></script>
    <script type="text/javascript" src="static/js/Showdown.min.js"></script>
    <script type="text/javascript" src="static/js/showdown-gui.js"></script>
    <script type="text/javascript" src="static/js/highlight.pack.js"></script>
    </body>
</html>
