<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Login Page</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="static/css/amazeui.min.css"/>
  <link rel="stylesheet" href="static/css/app.css">
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>Task Submit Page</h1>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>Scan Submit Window</h3>
    <hr>

    <form id="submit_form" method="post" action="/submit_form.html" class="am-form">
    <div class="am-form-group">
      <label class="am-form-label" for="url_string">Root Url:</label>
      <input class="am-form-field am-round" id="url_string" type="url" name="url_string"  value="" placeholder="Input your url" required/>
    </div>
      <br>
    <div class="am-form-group">
      <label class="am-form-label" for="email_string">Email:</label>
      <input class="am-form-field am-round" id="email_string" type="email" name="email_string"  placeholder="Input your email" value="" required/>
    </div>
    <div class="am-form-group">
      <label class="am-form-label" for="request_num">Request Number:</label>
      <input class="am-form-field am-round" id="request_num" type="text" name="request_num"  placeholder="request number" value=""/>
    </div>
    <div class="am-form-group">
      <label class="am-form-label" for="thread_num">Thread Number:</label>
      <input class="am-form-field am-round" id="thread_num" type="text" name="thread_num" placeholder="request number" value=""/>
    </div>
      <br>
      <br />
      <div class="am-cf">
        <input type="submit" name="" value="Submit" class="am-btn am-btn-primary am-btn-sm am-fl am-round">
        <input type="reset" name="" value="Reset" class="am-btn am-btn-default am-btn-sm am-fr am-round">
      </div>
    </form>
    <hr>
  </div>
</div>
</body>
</html>