<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Login Page</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="static/css/amazeui.min.css"/>
  <link rel="stylesheet" href="static/css/app.css">
  <link rel="stylesheet" href="static/css/index.css">
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<ul class="am-nav am-nav-pills am-nav-justify">
  <li id="ch_submit_window" class="am-active"><a href="javascript:void(0);">Submit Window</a></li>
  <li id="ch_mod_personal_info"><a href="javascript:void(0);">Update Personal Infomation</a></li>
  <li id="ch_process_query"><a href="javascript:void(0);">Process Query</a></li>
  <li id="ch_submit_history"><a href="javascript:void(0);">Submit History</a></li>
</ul>
<hr>
<div id="submit_window">
  <div class="header">
    <div class="am-g">
      <h1>Task Submit Page</h1>
    </div>
    <hr />
  </div>
  <div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
      <h3>Scan Submit Window</h3>
      <hr>

      <form id="submit_form" method="post" action="/submit_form.html" class="am-form">
        <div class="am-form-group">
          <label class="am-form-label" for="url_string">Root Url:</label>
          <input class="am-form-field am-round" id="url_string" type="url" name="url_string"  value="" placeholder="Input your url" required/>
        </div>
        <!-- <div class="am-form-group">
          <label class="am-form-label" for="email_string">Email:</label>
          <input class="am-form-field am-round" id="email_string" type="email" name="email_string"  placeholder="Input your email" value="" required/>
        </div> -->
        <div class="am-form-group">
          <label class="am-form-label" for="request_num">Request Number:</label>
          <input class="am-form-field am-round" id="request_num" type="text" name="request_num"  placeholder="request number" value=""/>
        </div>
        <div class="am-form-group">
          <label class="am-form-label" for="thread_num">Thread Number:</label>
          <input class="am-form-field am-round" id="thread_num" type="text" name="thread_num" placeholder="request number" value=""/>
        </div>
        <div class="am-form-group">
          <label class="am-form-label">Vulnerability Type:</label>
          <br>
          {% for p in plugins %}
          <input type="checkbox" name={{ p }} value="{{ p }}"> {{ p[4:].replace('_',' ').capitalize() }}
          {% endfor %}
        </div>
          <div class="am-cf">
            <input type="button" name="" value="Submit" id="submit_btn" class="am-btn am-btn-primary am-btn-sm am-fl am-round">
            <input type="reset" name="" value="Reset" class="am-btn am-btn-default am-btn-sm am-fr am-round">
          </div>
      </form>
      <hr>
    </div>
  </div>

  <div id="confirm_submit" class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
    <div class="am-modal-dialog">
      <div class="am-modal-hd">检测到你之前扫描过该网站，是否重新扫描?重新扫描之前的扫描数据将会丢失！</div>
      <div class="am-modal-footer">
        <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        <span id="confirm_go" class="am-modal-btn" data-am-modal-confirm>确认</span>
      </div>
    </div>
  </div>
</div>
<div id="process_query">
</div>
<div id="mod_personal_info">
  <div>
    <form id="change_user_info_form" action="" class="am-form">
      <fieldset>
        <legend>Update Personal Info:</legend>
        <div class="am-form-group">
          <label for="update_email">Update Email:</label>
          <input name="email" type="email" class="" id="update_email">
        </div>
        <div class="am-form-group">
          <label for="update_password1">Update Password:</label>
          <input name="old_pass" type="password" class="" id="update_password1" placeholder="old password">
          <input name="new_pass" type="password" class="" id="update_password2" placeholder="New password">
        </div>
        <button id="change_user_info_btn" type="button" class="am-btn am-btn-success">Submit</button>
        <button id="change_user_info_btn" type="reset" class="am-btn am-btn-danger">Reset</button>
      </fieldset>
    </form>
  </div>
</div>
<div id="submit_history">
  <div class="am-scrollable-horizontal">
    <table class="am-table am-table-bordered am-table-radius am-table-striped">
      <thead>
          <tr id="table_head">
              
          </tr>
      </thead>
      <tbody id="table_body">
          
      </tbody>
    </table>
  </div>
</div>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/amazeui.min.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/index.js"></script>
<script src="static/js/socket.io"></script>
</body>
</html>